{
    "MONGO_URL"          : "mongodb://{{mongodb_addr}}:27017/vinyl-proto",
    "GCLOUD_PROJECT_ID"  : "project",
    "GCLOUD_BUCKET"      : "bucket",
    "GCLOUD_KEY_FILENAME": "./keyfile.development.json",
    "STORAGE"            : "fs"
}